<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <h3>Sistemas de pedidos</h3>
  <img src="assets/imgs/telainicial.png" alt="logo">

  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->

  <form>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <button ion-button block (click)="login()" >Entrar</button>
  </form>
  <button ion-button block outline>Registar</button>

</ion-content>
